<html>
    <head>
        <title>Sprawdzone Przepisy</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sprawdzone Przepisy</a></h1>
        </div>
        {% for post in posts %}
        	<ul>
        		<li><a href="ciasta-info">Ciasta i torty</a></li>
        		<li><a href="desery-info">Babeczki i muffiny</a>
        		<li><a href="serniki-info">Serniki</a></li>
        		<li><a href="chleby-info">Chleby</a></li>
        		<li><a href="daniamiesne-info">Dania mięsne</a></li>
        		<li><a href="zupy-info">Zupy</a></li>
        		<li><a href="salatki-info">Sałatki</a></li>
        	</ul>	
        <div>
            <p>published: 11.08.2020, 20:15</p>
            <h2><a href="">Ciasta i torty</a></h2>
            <p><br><strong>Maxi King:</strong></p></br>
            <br><strong>Składniki:</strong></br>
<br>- 400 g herbatników</br>
<br>- 1 puszka masy kajmakowej gostynin</br>
<br><strong>Masa mleczna:</strong></br>
<br>– 300 g </br>
<br>– 1 szklanka zwykłego mleka</br>
<br>– 3/4 szkl. cukru</br>
<br>– 32 g cukru waniliowego</br>
<br>– 500 g mleka w proszku</br>
<br><strong>Polewa:</strong></br>
<br>– 1 czekolada mleczna<br>
<br>– 1 czekolada gorzka<br>
<br>– 140 g orzeszków ziemnych niesolonych</br>
<br><strong>Wykonanie:</strong></br>
<br>1. Orzeszki posiekać. Na blachę wyłożyć pierwszą warstwę herbatników. Oba cukry rozpuścić w zwykłym mleku. Zagotować i ostudzić.</br>
<br>2. Masło utrzeć na puszystą masę, a następnie dodać mleko i mleko w proszku. Zmiksować na niskich obrotach.</br>
<br>3. Połowę masy mlecznej wyłożyć na herbatniki i przykryć kolejną warstwą herbatników.</br>
<br>4. Masę krówkową rozprowadzić na herbatnikach. Następnie posmarować pozostałą pozostałą masę mleczną. Wyłożyć kolejną warstwę herbatników.</br>
<br>5. Obie czekolady rozpuścić. Można dodać trochę mleka, żeby się nie  przypaliła. Kiedy się rozpuszczą wylać na ciasto i posypać orzeszkami.</br>
<br>6. Całość schłodzić w lodówce.</br>
<br>Smacznego!</br></p>
        </div>

        <div>
            <p>published: 11.08.2020, 20:15</p>
            <h2><a href="">Zupy</a></h2>
            <p><br><strong>Zupa kukurydziano-selerowa:</strong></p></strong></br>
<br><strong>Składniki:</strong></br>
<br>-Puszka kukurydzy</br>
<br>-2 łyżki masła</br>
<br>-Szklanka mleka</br>
<br>-2 łyżki mąki</br>
<br>-½ szkl. Tartego żółtego sera</br>
<br>-Po pól strąka zielonej i czerwonej papryki</br>
<br>-Cebula</br>
<br>-Mała puszka koncentratu pomidorowego</br>
<br>-Pół łyzki soli</br>
<br>-Ćwierć łyzki mielonej papryki</br>
<br>-Szczypta mielonego pieprzu</br>
<br><strong>Sposób wykonania:</strong></br>
<br>Kukurydzę, seler oraz drobno posiekaną paprykę i cebulę zalać w garnku zimną wodą (tak, aby przykrywała tylko warzywa), dodać koncentrat, doprawić solą i pieprzem,gotować na małym ogniu, aż jarzyny zmiekną. Z masła i mąki zrobić zasmażkę, dolewać mleko. Połączyć z zupą, dodać ser i mieloną paprykę.</br></p>
        </div>
    {% endfor %}
    </body>
</html>